button{
  padding:20px 40px;
  font-size: 24px; 
  margin:20px;
}

button i{
  margin-right:15px;
}

button.pequeno{
  padding: 10px 20px;
  font-size: 14px;
}

button.medio{
  padding: 80px;
  font-size: 20px;
  border-radius: 20px;
}

button.grande {
  padding: 100px;
  border-radius: 5px;
}

.verde {
  background-color: green;
  border-radius: 5px;
}

.azul {
  background-color: royalblue;
}


.roxo {
  background-color:purple;
  border-radius: 5px;
}